* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Vujahday Script", "cursive";
}
img {
  width: 100%;
  height: 100vh;
}
.welcome {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  
}
.welcome::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.6)
}
#welcome h1, #welcome h4 {
  letter-spacing: 1.8px;
  font-size: 2.8rem;
    text-align: center;
  background-color: #666;
  display: inline-block;
  margin: 20px auto;
  padding: 10px;
  transform: translatex(-50%);
  -webkit-transform: translatex(-50%);
  -moz-transform: translatex(-50%);
  -ms-transform: translatex(-50%);
  -o-transform: translatex(-50%);
  margin-left: 50%;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
@media(max-width:767px){
  #welcome h1, #welcome h4{
    font-size: 1.5rem;
  }
}
.welcome .input[name=username]{
    width: 40%;
    height: 35px;
    border: none;
    padding: 10px;
    margin: 15px auto;
    font-size: 1.5rem;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    text-align: center;
    box-shadow: 10px 10px 10px #666;
}
.welcome label{
    width: 30%;
    height: 35px;
    border: none;
    padding: 10px;
    margin: 15px auto;
    font-size: 1.5rem;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    text-align: center;
}
#start{
    border: none;
    padding: 10px 25px;
    font-size: 1.5rem;
    background-color: royalblue;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 10px 10px 10px #666;
    cursor: pointer;
    margin-top: 20px;
}

.results {
  padding-top: 100px;
  display: none;
  grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
  column-gap: 5px;
  height: 50vh;
  align-items: flex-start;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  gap: 8px; */
}
@media(max-width:992px){
  .results{
    height: 80vh;
  }
}
@media(max-width:767px){
  .results{
    height: 100vh;
  }
}
@media(max-width:400px){
  .results{
    height: 130vh;
  }
}
.base {
  /* width: 25%; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.main-rotating-div {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}
.card {
  width: 100%;
  position: absolute;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  background:linear-gradient(black, gray, black);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  overflow: hidden;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}
.back-image {
  transform: rotatey(180deg);
  -webkit-transform: rotatey(180deg);
  -moz-transform: rotatey(180deg);
  -ms-transform: rotatey(180deg);
  -o-transform: rotatey(180deg);
}
img:not(.welcome) {
  width: 100%;
  height: 100%;
}
.score{
  margin: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: red;
  font-weight: bold;
}
#finish{
  border: none;
  padding: 10px 25px;
  font-size: 1.5rem;
  background-color: royalblue;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 10px 10px 10px #666;
  cursor: pointer;
  margin: 10px;
}
.score-board{
  text-align: center;
}
#winner{
  position: absolute;
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(57, 99, 114, 0.6);
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  width: 100vw;
  height: 100vh;
}
#winner span{
  color: rgb(20, 56, 48);
}
#winner h1{
  background: linear-gradient(white, rgb(35, 35, 37));
  width: fit-content;
  height: fit-content;
  text-align: center;
  padding: 15px;
  letter-spacing: 1.5px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  box-shadow: 10px 10px 10px #666;
  margin: 20px;
}
#winner button{
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 10px;
  background-color: #666;
  color: darkblue;
  font-weight: bold;
  font-size: 1.1rem;
  box-shadow: 10px 10px 10px #666;
  margin-top: 100px;
}
@keyframes enlarge {
  0%{
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
  }
  100%{
    transform: scale(40);
    -webkit-transform: scale(40);
    -moz-transform: scale(40);
    -ms-transform: scale(40);
    -o-transform: scale(40);
    transform-origin: top;
    visibility: hidden;
}  
}